In [1]:
import glob
import functools
import datetime as dt
import pandas as pd
import numpy as np
# import h2o
import matplotlib.pyplot as plt
# import shap
from pandas_profiling import ProfileReport
from collections import defaultdict
import seaborn as sns
import os
import random

In [2]:
dataprep_df_full = pd.read_csv(r'C:\Users\C07037\Python_project\data_Pool\raw_data.csv', delimiter = '\t', encoding='utf-8')
dataprep_df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56410 entries, 0 to 56409
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준일자        56410 non-null  int64
 1   실행번호        56410 non-null  object
 2   고객번호        56410 non-null  object
 3   실행사유코드명     56410 non-null  object
 4   상품대분류명      56410 non-null  object
 5   상품중분류명      56410 non-null  object
 6   상품소분류명      56410 non-null  object
 7   상품명         56410 non-null  object
 8   실행일자        56410 non-null  int64
 9   만기일         56410 non-null  int64
 10  여신잔액        56410 non-null  float64
 11  순대출금액       56410 non-null  float64
 12  여신기간        56410 non-null  int64
 13  원리금연체일수     113 non-null    float64
 14  연체대상원금      129 non-null    float64
 15  연체대상이자      129 non-null    float64
 16  마감일자        30872 non-null  float64
 17  해지일자        181 non-null    float64
 18  해지사유        181 non-null    object
 19  영업부서코드명     56410 non-null  object
 20  고객구분명       56410 non-null  object
 21  임차보증금자금용도명  7481 non-null   object
 22  여신금액        56410 non-null  float64
 23  이전실행번호      3022 non-null   object
 24  마감사유        30855 non-null  object
dtypes: float64(8), int64(4), object(13)
memory usage: 10.8+ MB

In [3]:
dataprep_df_full['상품명'].unique()

array(['신차운용리스', '스탁론(국내)', '오토론신차대출', '임차보증금대출', '스마트스토어대출', '신차금융리스',
       'PF대출', '오토론중고차대출', '오토재고금융대출', '신차할부금융', '중도금대출', '미트론',
       '더존연계팩토링', '스탁론(해외)', '신차오토렌탈', '대부업체대출', '기업자금대출', '바이크운용리스',
       '보통주', 'NPL대출', '오토자금대출', '주식담보대출', '부동산집합투자증권', '단기렌터카(보험대차)',
       '생명연계대출', 'PEF출자금', '증권집합투자증권(혼합형)', '전문투자형사모투자신탁', '투자조합출자금',
       'CB', '기타담보대출', 'BW', '우선주', '증권집합투자증권(주식형)', '기업자금대출(베트남FC)',
       '전환우선주', 'ETF', '회사채', '상환전환우선주', '증권집합투자증권(채권형)'], dtype=object)

In [ ]:
auto_group = ['신차운용리스', '오토론신차대출', '신차금융리스', '오토론중고차대출', '오토재고금융대출', '신차할부금융', '신차오토렌탈', '바이크운용리스', '오토자금대출', '단기렌터카(보험대차)' ]
apt_lease = ['임차보증금대출']
stock_loan = ['스탁론(해외)','스탁론(국내)' ]
naver_sme = ['스마트스토어대출']
data_etc = ['더존연계팩토링', '주식담보대출', '미트론', '기타담보대출', '생명연계대출', 'NPL대출', '대부업체대출']
ib_etc = ['PF대출', '기업자금대출', '보통주', '부동산집합투자증권','PEF출자금', '증권집합투자증권(혼합형)', '전문투자형사모투자신탁', '투자조합출자금','CB', 'BW', '우선주', '증권집합투자증권(주식형)', '기업자금대출(베트남FC)', '전환우선주', 'ETF', '회사채', '상환전환우선주', '증권집합투자증권(채권형)' ]

In [ ]:
profile = df.profile_report(
    variables={
        "descriptions": {
            "files": "Files in the filesystem",
            "datec": "Creation date",
            "datem": "Modification date",
        }
    }
)


profile.to_file(r'../output/report.html')